/* V4 需要手动引入tailwind css 的config文件, 才能生效 */
@config "../../tailwind.config.js";
@import url("https://fonts.googleapis.com/css2?family=Ma+Shan+Zheng&display=swap");

@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;

  /* 全局滚动条样式 - 适用于Chrome、Edge、Safari等 */
  ::-webkit-scrollbar {
    width: 3px; /* 垂直滚动条宽度 */
    height: 3px; /* 水平滚动条高度 */
  }

  ::-webkit-scrollbar:hover {
    width: 4px !important;
    height: 4px !important;
  }

  /* 滚动条轨道 */
  ::-webkit-scrollbar-track {
    background: transparent;
  }

  /* 滚动条滑块 */
  ::-webkit-scrollbar-thumb {
    background: #dcd6d6;
    border-radius: 10px;
    cursor: pointer;
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #91c8e9;
  }
}

.ant-popover-inner {
  padding: 0 !important;
}

.ant-btn-loading-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

input::placeholder {
  color: var(--placeholder-color, #ccc) !important;
  /* 
   * var() 函数解析：
   * - 首先查找 --placeholder-color 变量
   * - 如果找到，使用该值
   * - 如果没找到，使用后备值 #ccc
   * !important 确保优先级最高
   */
}

@theme {
  --color-primas: #ff587cff;
  --color-primas-bg: pink;

  --color-dark-primas: #e6e6e6;
  --color-dark-primas-bg: #1a1a1a;
}

/* 封装默认背景色 */
@utility default-bg {
  /* background-size: 200% 200%; */
  background-image: linear-gradient(#ec9baa, #e066a2);
}

@utility default-dark-bg {
  background-image: linear-gradient(#2a2a2a, #1a1a1a);
}

@keyframes fade-in-left {
  from {
    transform: translateX(-12px);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@utility fade-in-left {
  animation: fade-in-left 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
